<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DemoDoAn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DemoDoAn.Properties.Settings.DEMO_TTTAConnectionString" connectionString="Data Source=DESKTOP-PFFLLGC\SQLEXPRESS;Initial Catalog=DEMO_TTTA;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DEMO_TTTA" connectionString="metadata=res://*/TTTA_DF.csdl|res://*/TTTA_DF.ssdl|res://*/TTTA_DF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JGRTVMGL\MYCOM;initial catalog=DEMO_TTTA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <DemoDoAn.Properties.Settings>
      <setting name="cnnStr" serializeAs="String">
        <value>Data Source=LAPTOP-JGRTVMGL\MYCOM;Initial Catalog=DEMO_TTTA;Integrated Security=True</value>
      </setting>
    </DemoDoAn.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts.Wpf" publicKeyToken="0bc1f845d1ebb8df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.7.0" newVersion="0.9.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts" publicKeyToken="0bc1f845d1ebb8df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.7.0" newVersion="0.9.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>